{% extends 'base.html' %}
{% block content %}

<div class="card mx-auto mt-5 p-5">

    {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul style="list-style:none;">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

    {% if current_user.is_authenticated %}
        <h1 class="text-center">Controle de estoque</h1>
        <h3>Gerencie seu estoque facilmente.</h3>
        <h5 class="text-center">Usuário logado: <strong>{{ current_user.name }}</strong></h5>
    {% else %}
        <h1 class="text-center">Bem-vindo!</h1>
        <h3>Entre ou registre-se.</h3>
    {% endif %}
    {% if current_user.is_authenticated %}
    
    {% else %}
    <div class="row justify-content-center">
        <a href="{{ url_for('user') }}" class="btn btn-secondary btn-sm mt-4" style="width: 100px;"><i class="fas fa-user"></i> Registro</a>
        <a href="{{ url_for('login') }}" class="btn btn-success btn-sm mt-4 ml-4" style="width: 100px;"><i class="fas fa-unlock-alt"></i> Entrar</a>    
    </div>
    {% endif %}
    <ul>
</div>

<footer class="footer">
      <div class="container text-center">
        <span class="text-muted">Desenvolvido por: <strong>Silvério Mantovaneli</strong></span>
        <p>ahsousilverio@gmail.com</p>
      </div>
    </footer>

{% endblock %}
